= form_for @option do |f|
  - if @option.errors.any?
    #error_explanation
      %h2= "#{pluralize(@option.errors.count, "error")} prohibited this option from being saved:"
      %ul
        - @option.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :option_type
    = f.text_field :option_type
  .actions
    = f.submit 'Save'
