.margin-max-screen.h-full.py-8
  %h1.font-semibold.text-xl
    = t("options.title")
  .mt-4
    %ul.form-table-head.grid.grid-cols-4
      %li.flex.items-center
        = icon "fa-solid", "up-down", class: "ml-0.5 mr-5 text-lg text-zinc-400"
        = t("options.table.thead.name")
      %li
        = t("options.table.thead.created_at")
      %li
        = t("variants.table.thead.updated_at")
      %li
        = t("variants.table.thead.actions")
    %ul.form-table-body{data: {controller: "sortable",  |
    "sortable-resource-name-value": "option",           |
    "sortable-handle-value": ".handle" }}               |
      - if @options.present?
        - @options.each do |option|
          = render "item", option:
      - else
        %li.flex.justify-center.w-full.py-6.text-gray-400 
          = t("options.no_list_found")

