.margin-max-screen.h-full.py-8
  %h1.font-semibold.text-xl
    = t("options.title")
  .mt-4
    %table
      %thead
        %th= t("options.table.thead.name")
        %th= t("options.table.thead.display_name")
        %th= t("options.table.thead.placeholder")
      %tbody
        - if @options.present?
          - @options.each do |option|
            = render "item", option:
        - else
          %tr
            %td= t("options.no_list_found")
            %td
            %td
            %td
