%li{id: dom_id(variant)}
  = form_for(variant, as: "product_variant",                    
  url: admin_product_stock_path(@product, variant),             
  html: {method: :put}, data: {controller: 'autosave'}) do |f|
    .grid.grid-cols-5.gap-8
      .py-4
        - if f.object.is_master
          = render TagComponent.new(name: "Master")
        - else
          = f.object.grouped_name
      .py-4
        - if f.object.is_master
          = render TagComponent.new(name: "Master")
        - else
          = f.text_field :sku, id: dom_id(variant, "sku"), class: "input-table", data: { "action": "change->autosave#save" }
      .flex.py-4.items-center
        - if f.object.is_master
          = render TagComponent.new(name: "Master")
        - else
          = f.check_box :backorderable, id: dom_id(variant, "backorderable"), 
          data: { action: 'autosave#save' },                                  
          class: "text-primary rounded-sm focus:ring-0"
      = render "item_count_on_hand", form: f
      = render "modify_stock", variant:
