.py-4.flex.gap-2.items-center{data: {url: modify_admin_product_stock_path(@product, variant)}}
  = number_field_tag :modify_amount, nil, class: "input-table", placeholder: "0", data: {"admin--products--stocks--item-target": "input", action: "input->admin--products--stocks--item#change"}
  .flex.gap-1.hidden{data: {"admin--products--stocks--item-target": "action"}}
    = button_tag type: "button", data: {action: "click->admin--products--stocks--item#modify"}, class: "px-1.5 hover:bg-green-700 hover:text-white rounded transition-colors duration-100" do
      = icon("fa-solid", "check")
    = button_tag type: "button", data: {action: "click->admin--products--stocks--item#cancel"}, class: "px-1.5 hover:bg-red-600 hover:text-white rounded transition-colors duration-100" do
      = icon("fa-solid", "xmark")
