.flex.flex-col.gap-4.py-5.w-full
  .flex.flex-col.gap-4.w-full
    .flex.justify-between.items-center.gap-4.w-full
      = render SectionLabelComponent.new label: label
      - if action_link.present?
        = link_to action_link, class: "rounded-md px-4 h-fit text-sm text-primary font-medium py-2 bg-primary/10" do
          = action_text
          = icon("fa-solid", "arrow-right")
    .flex.w-full.justify-between.items-start
      %h2.text-2xl.font-bold
        = title
  .w-full
    = content
