.flex.flex-col
  = link_to path, class: "flex items-center gap-3.5 px-4 py-1 font-medium rounded-lg #{path.in?(request.path) ? 'bg-gray-100 text-primary' : 'hover:bg-gray-100'}" do
    - if icon
      = icon
    = label
  - if sub_paths.present? && path.in?(request.path)
    .flex.flex-col.font-medium{class: "mt-0.5"}
      - sub_paths.each do |sp|
        = link_to sp[:path], class: "pl-11 pr-4 py-1 hover:bg-gray-50 rounded-lg #{current_page?(sp[:path]) ? "text-primary/80" : "text-gray-800"}" do
          = sp[:label]
