.flex.flex-col
  = link_to path, class: "flex items-center gap-3.5 px-4 py-1 font-medium rounded-lg #{path.in?(request.path) ? 'bg-gray-100 text-primary' : 'hover:bg-gray-100'}" do
    - if icon
      = icon
    = label
  - if sub_paths.present? && path.in?(request.path)
    .flex.flex-col
      = link_to label, path, class: "pl-8 pr-4 py-1.5 hover:bg-gray-100"
      = sub_paths.each do |sp|
        = link_to sp["label"], sp["path"], class: "pl-8 pr-4 py-2 hover:bg-gray-100"
