.flex.flex-col.gap-6.w-80
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "h-fit"}) do |f|
    .grid{class: "gap-2.5"}
      %h2.font-semibold.text-2xl.mb-2 Login
      - if flash[:alert].present?
        = render ErrorMessageComponent.new(errors: [flash[:alert]], label: nil)
      .field{"data-controller": "phone"}
        = f.label "Phone No."
        = f.phone_field  :phone_no, required: true, autocomplete: "phone_no",
        data: {"phone-target": "input", action: "change->phone#telHiddenInput" }
        = f.hidden_field :phone_no, "data-phone-target": "hidden", id: "hidden-field"
      .field
        = f.label :password
        = f.password_field :password, required: true, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .flex.items-center.gap-2
          = f.check_box :remember_me, class: "checkbox-primary mt-0.5"
          = f.label :remember_me
      .action
        = f.submit "Log in", class: "btn-primary w-full cursor-pointer disabled:bg-gray-300 disabled:cursor-wait"
      = render "users/shared/sign_up"
  %fieldset.border-t.border-gray-400
    %legend.mx-auto.px-3.text-sm.uppercase.text-gray-600 or
  = render "users/shared/omniauth", name: "Sign in", origin:
