.space-y-3.pb-5
  %h2.font-medium.text-lg Options
  .grid.grid-cols-3.gap-3
    - if is_new
      - @product.product_options.with_option_columns.each do |po|
        = form.fields_for :variant_option_values, VariantOptionValue.new do |vov, pos|
          .field
            = vov.label :name, po.name
            = vov.text_field :name, placeholder: po.placeholder, required: true, list: po.name
            %datalist{id: po.name}
              - po.variant_option_values.grouped_names.each do |gn|
                %option{value: gn.name}
          = vov.hidden_field :product_option_id, value: po.id
    - else
      = form.fields_for :variant_option_values do |vov, pos|
        .field
          - po = vov.object.product_option.option
          = vov.label :name, po.name
          = vov.text_field :name, placeholder: po.placeholder, required: true, list: po.name
          %datalist{id: po.name}
            - vov.object.product_option.variant_option_values.grouped_names.each do |gn|
              %option{value: gn.name}
