- is_new = @variant.new_record?

= form_for(@variant, as: "product_variant", url: path, html: {"data-turbo": false, class: "w-full flex flex-col gap-3", method:}) do |f|
  .flex.flex-col.w-full.divide-y
    - if @variant.errors.present?
      .mb-4
        = render ErrorMessageComponent.new(errors: @variant.errors.full_messages, label: "validation")
    = render "form_option_values", form: f, is_new:
    .grid.grid-cols-3.gap-3.py-5
      .field
        = f.label :price do
          Price
          = currency_symbol(@product.currency)
        = f.text_field :price, value: is_new ? @product.master_variant.price : f.object.price, required: true, placeholder: "0.00"
      .field
        = f.label :cost do 
          Cost
          = currency_symbol(@product.currency)
        = f.text_field :cost, value: is_new ? @product.master_variant.cost : f.object.cost, placeholder: "0.00"
      .field
        = f.label :count_on_hand
        = f.number_field :count_on_hand, placeholder: "0"
      .field
        = f.label :sku
        = f.text_field :sku
    .flex.gap-5.pt-5
      .flex.gap-2.items-center
        = f.check_box :backorderable, checked: is_new ? @product.master_variant.backorderable : f.object.backorderable, class: "checkbox-primary"
        %span Backorderable
  = f.submit is_new ? "Create" : "Update", 
  class: "mt-2 btn-primary w-fit cursor-pointer disabled:bg-gray-300 disabled:cursor-wait"

