.p-3.rounded.bg-white.grid.gap-3.border.border-gray-400
  .font-medium.flex.gap-2.items-center
    Status
    .lowercase{class: "#{@order.order_status.name}-status"}
      = @order.order_status.name.humanize
  - if @order.placed_at.present?
    .flex.gap-3
      - if can?(:cancel, @order)
        = button_to cancel_admin_order_path(@order), method: :post, class: "btn-primary px-8 py-2 flex gap-2 items-center", data: { turbo_confirm: "Are you sure to cancel order?"} do
          = icon("fa-solid", "xmark")
          Cancel order
      - if can?(:ship, @order)
        = button_to ship_admin_order_path(@order), method: :post, class: "btn-primary px-8 py-2 flex gap-2 items-center", data: { turbo_confirm: "Are you sure to ship order?"} do
          = icon("fa-solid", "cart-flatbed")
          Prepare Order (To ship)
      - if can?(:recieve, @order)
        = button_to recieve_admin_order_path(@order), method: :post, class: "btn-primary px-8 py-2 flex gap-2 items-center", data: { turbo_confirm: "Are you sure to recieve order?"} do
          = icon("fa-solid", "truck-fast")
          Ship Order (To recieve)
      - if can?(:complete, @order)
        = button_to complete_admin_order_path(@order), method: :post, class: "btn-primary px-8 py-2 flex gap-2 items-center", data: { turbo_confirm: "Are you sure to complete order?"} do
          = icon("fa-solid", "check")
          Complete Order
  - else
    Order not yet placed
