%tr
  %td
    - if order.shipping_detail.present?
      = order.shipping_detail.fullname
    - else
      .text-red-600
        Not yet placed
  %td
    .block{class: "#{order.status}-status"}
      = order.status
  %td
  %td
    - if order.placed_at.present? 
      = "#{time_ago_in_words(order.placed_at)} ago"
    - else
      .text-red-600
        Not yet placed
  %td
    .flex.gap-3.text-gray-400
      = link_to admin_order_path(order), class: "hover:text-primary transition-colors" do
        = icon("fa-solid", "edit")
