%tr
  %td
    .flex.gap-2.items-center
      - if order.shipping_detail.present?
        .block
          = order.shipping_detail.fullname
        .bg-primary.px-2.rounded-md.text-white.w-fit.text-sm.h-fit
          - if order.user_id.present?
            user
          - elsif order.guest_session_id.present?
            guest
          - else
            not owned
      - else
        .text-red-600
          Not yet placed
  %td
    .lowercase{class: "#{order.status}-status"}
      = order.status.humanize
  %td
  %td
    - if order.placed_at.present? 
      = "#{time_ago_in_words(order.placed_at)} ago"
    - else
      .text-red-600
        Not yet placed
  %td= "#{time_ago_in_words(order.created_at)} ago"
  %td
    .flex.gap-3.text-gray-400
      = link_to admin_order_path(order), class: "hover:text-primary transition-colors" do
        = icon("fa-solid", "edit")
