- if can?(:update_logistic_details, @order)
  .p-3.rounded.bg-white.grid.gap-2.border.border-gray-300.shadow-sm
    %h2.font-medium Logistic Details
    = form_for(@order, url: update_logistic_details_admin_order_path(@order)) do |f|
      .grid.grid-cols-2.gap-3
        .field
          = f.label :logistic_name, "Logistic Name"
          = f.text_field :logistic_name
        .field
          = f.label :logistic_url, "Logistic Tracking URL"
          = f.text_field :logistic_url
        .field
          = f.label :logistic_ref, "Logistic Ref No."
          = f.text_field :logistic_ref
      %button.btn-primary.mt-3
        Update Logistic Details
