%li{id: dom_id(variant)}
  = form_for(variant, as: "product_variant",                    | 
  url: product_update_admin_stock_path(@product, variant),      |
  html: {method: :put}, data: {controller: 'autosave'}) do |f|  |
    .grid.grid-cols-5.gap-8
      .py-4
        - if f.object.is_master
          = render "master_tag"
        - else
          = f.object.name
      .py-4
        - if f.object.is_master
          = render "master_tag"
        - else
          = f.text_field :sku, id: dom_id(variant, "sku"), class: "input-table", data: { "autosave-target": "input" }
      .flex.py-4.items-center
        - if f.object.is_master
          = render "master_tag"
        - else
          = f.check_box :backorderable, id: dom_id(variant, "backorderable"), |
          data: { action: 'autosave#save' },                                  |
          class: "text-primary rounded-sm focus:ring-0"                       |
      .py-4.flex.gap-3
        = f.object.count_on_hand
        - if f.object.count_on_hand.zero? && !@product.has_variant
          .text-red-600.font-medium Out of stock
        - else
          = "stock".pluralize(f.object.count_on_hand)
      = render "modify_stock", variant:
