%li{id: dom_id(variant)}
  = form_for(variant, as: "product_variant",                    | 
  url: product_update_admin_stock_path(@product, variant),      |
  html: {method: :put}, data: {controller: 'autosave'}) do |f|  |
    .grid.grid-cols-5.gap-8
      .py-4
        = f.object.name
      .py-4
        = f.text_field :sku, id: dom_id(variant, "sku"), class: "input-table", data: { "autosave-target": "input" }
      .flex.py-4.items-center
        = f.check_box :backorderable, id: dom_id(variant, "backorderable"), |
        data: { action: 'autosave#save' },                                  |
        class: "text-primary rounded-sm focus:ring-0"                       |
      .py-4.flex.gap-3
        = f.object.count_on_hand
        - if f.object.count_on_hand.zero?
          .text-red-600.font-medium Out of stock
        - else
          = "stock".pluralize(f.object.count_on_hand)
      .py-4.flex.gap-2.items-center{data: {controller: "modify-stock", stock_id: f.object.id}}
        = number_field_tag :modify_amount, nil, class: "input-table", data: {"modify-stock-target": "input"}, placeholder: "0"
        .flex.gap-1.hidden{data: {"modify-stock-target": "action"}}
          .px-1.py-0.hover:bg-primary.hover:text-white.rounded-md.transition-colors.duration-75
            = icon("fa-solid", "check", class: "text-lg")
          .px-1.py-0.hover:bg-primary.hover:text-white.rounded-md.transition-colors.duration-75
            = icon("fa-solid", "xmark", class: "text-lg")

