%div{id: "cart-#{cart.uuid}-qty"}
  #quantity-container
    #quantity.small
      = button_tag class: "decrement transition-colors duration-150", 
      data: {action: "click->cart--item#decrement"} do
        = icon("fa-solid", "minus")
      = number_field_tag 'quantity', cart.qty, data: {"cart--item-target": "quantity"}, min: 1,
      id: "cart-#{cart.uuid}-qty-input", class: "number-input transition-colors duration-150"
      = button_tag class: "increment transition-colors duration-150",
      data: {action: "click->cart--item#increment"} do
        = icon("fa-solid", "plus")
