= turbo_stream.prepend "notification-container" do
  = render NotificationComponent.new notif_type: "success", message: t("carts.synced")

= turbo_stream.remove "cart-#{@cart.uuid}"

= turbo_stream.replace "cart-#{@common_cart.uuid}-qty" do
  = render Carts::Item::QtyComponent.new cart: @common_cart
