- if @cart.qty_previously_changed?
  = turbo_stream.replace "cart-#{@cart.uuid}-total-price" do
    = render Carts::Item::TotalpriceComponent.new uuid: @cart.uuid, price: @cart.variant.price, qty: @cart.qty, currency: @cart.variant.product.currency

  = turbo_stream.replace "cart-#{@cart.uuid}-unit-price" do
    = render Carts::Item::UnitpriceComponent.new uuid: @cart.uuid, price: @cart.variant.price, currency: @cart.variant.product.currency

= turbo_stream.replace "cart-#{@cart.uuid}-checkbox" do
  = render Carts::Item::CheckboxComponent.new uuid: @cart.uuid, invalid: checkbok_invalid?(@cart.variant.count_on_hand, @cart.qty, @cart.variant.backorderable) || cannot?(:update, @cart)

= turbo_stream.replace "cart-#{@cart.uuid}-qty" do
  = render Carts::Item::QtyComponent.new cart: @cart, count_on_hand: @cart.variant.count_on_hand, backorderable: @cart.variant.backorderable

-# - if @cart.variant_previously_changed?
