= turbo_frame_tag "variant-#{@cart.id}-dropdown" do
  .grid.gap-4{data: {"controller": "carts--dropdown"}}
    .flex.flex-col.gap-4
      #current-variant.hidden{data: {"carts--dropdown-target": "currentVariant", value: @cart.variant.id, cart: @cart.id}}
      - @cart.variant.product.product_options.with_option_columns.each do |po|
        .flex.flex-col.gap-3{data: {"carts--dropdown-target": "optionInstance"}}
          %span.font-medium.text-sm.text-zinc-500
            = po.display_name
          .flex.flex-wrap{class: "gap-2.5", data: {"carts--dropdown-target": "option"}}
            - po.variant_option_values.with_variant_position.group_by { |h| h.name }.each do |vname, arr|
              - is_active = arr.any? { |a| a.variant_id == @cart.variant_id }
              .flex
                = radio_button_tag po.name, vname, is_active, id: "#{vname}-#{@cart.id}", class: "peer hidden", data: {action: "click->carts--dropdown#radioToggle", was_checked: is_active, variant_ids: arr.map { |a| a.variant_id }.join(','), "carts--dropdown-target": "radio"}
                %label.variant-radio.py-2{for: "#{vname}-#{@cart.id}"}
                  = vname
    = render StockCountComponent.new count: @cart.variant.count_on_hand, sale: sale?(@cart.variant)
    .flex.gap-2.-mt-1
      %button.btn-plain.py-2{class: "w-1/2", data: {action: "dropdown#toggle"}}
        Cancel
      %button.btn-primary.py-2{class: "w-1/2"}
        Update
