- is_new = (action_name == "product_variant_new")
= form_for(@variant, url: path, html: {class: "w-full flex gap-5", method: method}) do |f|
  .flex.flex-col.gap-2{class: "w-full"}
    .field
      = f.label "Name*"
      = f.text_field :name, required: true, placeholder: "e.g. Nike Shoe"
    .field
      = f.label "Slug*"
      = f.text_field :slug, required: true, placeholder: "e.g. nike_shoe"
    = f.submit is_new ? "Create" : "Update", class: "mt-2 btn-primary w-full cursor-pointer disabled:bg-gray-300 disabled:cursor-wait"
