- is_new = @variant.new_record?
= form_for(@variant, as: "product_variant", url: path, html: {class: "w-full flex flex-col gap-3", method: method}) do |f|
  .flex.flex-col.w-full.gap-5
    %span
      = "currency: (#{currency_symbol(@product.currency)})"
    .grid.grid-cols-4.gap-3.w-full
      .field
        = f.label :name
        = f.text_field :name, required: true, placeholder: "e.g Black"
      .field
        = f.label :price
        = f.text_field :price, value: is_new ? master.price : f.object.price, required: true, placeholder: "0.00"
      .field
        = f.label :cost
        = f.text_field :cost, value: is_new ? master.cost : f.object.cost, placeholder: "0.00"
      .field
        = f.label :sku
        = f.text_field :sku, value: is_new ? master.sku : f.object.sku
      .field
        = f.label :count_on_hand
        = f.number_field :count_on_hand, placeholder: "0"
  = f.submit is_new ? "Create" : "Update", class: "mt-2 btn-primary w-fit cursor-pointer disabled:bg-gray-300 disabled:cursor-wait"
