.margin-max-screen.py-8.flex.flex-col.gap-5.overflow-auto
  = render "admin/products/tabs"
  .flex.flex-col.gap-6
    .flex.gap-5.justify-between.items-center
      %span.text-gray-500
        product:
        = @product.name
      = button_to product_new_admin_variants_path(@product), class: "btn-plain flex gap-2.5 items-center", method: :get do
        New Variant
        = icon("fa-solid", "plus")
    %table
      %thead
        %tr
          %th= icon("fa-solid", "up-down", class: "text-zinc-500 pl-[.15rem]")
          %th Option Name
          %th Price
          %th Cost
          %th Count On Hand
          %th Actions
      %tbody{data: {controller: "sortable" , "sortable-resource-name-value": "product_variant", "sortable-handle-value": ".handle"}}
        - if @variants.present?
          - @variants.each do |variant|
            = form_for(variant, as: "product_variant", url: product_update_admin_variants_path(@product, variant), html: {method: :put}) do |f|
              %tr{data: {"sortable-update-url": product_update_position_admin_variants_path(@product, variant)}}
                %td.w-10= icon("fa-solid", "grip", class: "handle cursor-move text-zinc-500")
                %td.max-w-52.truncate= variant.name
                %td.py-2.5
                  = currency_symbol(@product.currency)
                  = f.number_field :price, class: "input-table"
                %td.py-2.5
                  = currency_symbol(@product.currency)
                  = f.number_field :cost, class: "input-table"
                %td.py-2.5
                  = currency_symbol(@product.currency)
                  = f.number_field :count_on_hand, class: "input-table"
        - else
          %tr
            %td
              No variants found
            %td
            %td
            %td
