.margin-max-screen.py-8.flex.flex-col.gap-5.overflow-auto
  = render "admin/products/tabs"
  .flex.gap-5.justify-between.items-center
    %span.text-gray-500
      product:
      = @product.name
    = button_to product_new_admin_variants_path(@product), class: "btn-plain flex gap-2.5 items-center", method: :get do
      New Variant
      = icon("fa-solid", "plus")
  %div
    .grid.grid-cols-5.border-b.text-sm.gap-8.font-semibold.text-secondary
      .py-4.flex.items-center
        = icon "fa-solid", "up-down", class: "ml-0.5 mr-5 text-lg text-zinc-400"
        Name
      .py-4
        Price
      .py-4
        Cost
      .py-4
        Count On Hand
      .py-4
        Actions
    - if @variants.present?
      %ul.divide-y{data: {controller: "sortable", "sortable-resource-name-value": "product_variant", "sortable-handle-value": ".handle" }}
        - @variants.each do |variant|
          = render "variant_item", variant:
