= turbo_stream.prepend "notification-container" do
  = render NotificationComponent.new notif_type:, message:

- case type
- when "input-table"
  = turbo_stream.replace dom_id(variant) do
    = render "variant_item", variant:
- when "deleted"
  = turbo_stream.remove dom_id(variant)
