= turbo_stream.replace "public-price" do
  #public-price{data: {"products--public-target": "price"}}
    = render PriceRangeComponent.new lowest: @variant.price, currency: @variant.product.currency

= turbo_stream.replace "quantity-container" do
  = render "products/quantity", variant: @variant, hide: false

= turbo_stream.replace "vid" do
  = render "products/variant_uuid", uuid: @variant.id
