.grid.gap-2
  %h2.font-semibold Order Summary
  .divide-y-2
    .flex.justify-between.py-3
      .text-gray-600
        Subtotal
      .font-medium
        = price_with_currency(@order.subtotal, currency_symbol(MoneyRails.default_currency.id.to_s))
    .flex.justify-between.py-3
      .text-gray-600
        Discounted
      .font-medium.flex.text-green-600
        = "-"
        = price_with_currency(@order.discounted_price, currency_symbol(MoneyRails.default_currency.id.to_s))
    .flex.justify-between.py-3
      .text-gray-600
        Shipping Fee
      .font-medium
        = price_with_currency(@order.shipping_fee, currency_symbol(MoneyRails.default_currency.id.to_s))
    .flex.justify-between.py-3.text-lg
      .font-semibold
        Total
      .font-semibold
        = render PriceRangeComponent.new lowest: @order.total, currency: MoneyRails.default_currency.id.to_s
