#payment-method{data: {"checkout--step-target": "payment"}, class: ("hidden" if !@order.shipping_detail&.persisted?)}
  = form_for(@order, url: payment_method_checkout_path(@order), html: {method: :post}) do |f|
    .grid.gap-2
      - PaymentMethod.all.each do |pm|
        .block
          = f.radio_button :payment_method_id, pm.id, id: pm.id, disabled: !pm.enable, checked: pm.code == "COD", class: "hidden peer"
          = f.label :payment_method_id, for: pm.id, class: "flex border rounded-md peer-checked:text-primary peer-checked:border-primary peer-disabled:text-gray-300 peer-disabled:cursor-not-allowed px-5 py-4 font-medium cursor-pointer" do
            = pm.name
            - if !pm.enable
              = "(Not available)"
    .mt-5.flex.gap-4
      %button.btn-plain{type: :button, data: {action: "click->checkout--step#backToShipping"}}
        Back to shipping details
      = f.submit "Place Order", class: "btn-primary cursor-pointer w-fit px-10 sm:px-16"
