- if @order.shipping_detail.present?
  .p-3.rounded.border.border-gray-300.space-y-1.mb-5
    %h2.font-medium Shipping Details
    .block
      .text-primary.font-medium
        = @order.shipping_detail.fullname
      .text-gray-600
        = @order.shipping_detail.phone_no
      .flex.gap-1.flex-wrap.text-gray-600.text-base
        .flex{class: "after:content-[',_']"}
          = @order.shipping_detail.street
        .flex
          = @order.shipping_detail.barangay
      .flex.gap-1.flex-wrap.text-gray-600.text-base
        .flex{class: "after:content-[',_']"}
          = @order.shipping_detail.city
        .flex
          = @order.shipping_detail.state
      .flex.gap-1.flex-wrap.text-gray-600.text-base
        .flex{class: ("after:content-[',_']" if @order.shipping_detail.postal_code.present?)} 
          = @order.shipping_detail.country
        - if @order.shipping_detail.postal_code.present?
          .block
            = @order.shipping_detail.postal_code
