- title "Checkout"

.w-full.margin-max-screen.flex.flex-col.gap-6.py-6{data: {controller: "checkout--step"}}
  - unless @order.shipping_detail&.persisted? && @order.payment_method&.persisted?
    = render "stepper"
    - if @order.errors.present?
      = render ErrorMessageComponent.new(errors: @order.errors.full_messages, label: "")
    = render "shipping_details_form"
    = render "payment_method_form"
  - else 
    .grid.place-items-center.py-10.h-full
      .block.grid.place-items-center.gap-3
        .text-3xl.text-primary.font-semibold
          Order has already been placed.
        = link_to "Go to my orders", orders_path, class: "btn-primary cursor-pointer w-fit"
