= form_for(@category, url: path, html: {class: "flex flex-col gap-2"}) do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |message|
          %li= message
  .field.w-fit
    = f.label :name
    = f.text_field :name
  = f.hidden_field :parent_id, value: parent.id
  .actions
    = f.submit 'Save', class: "mt-2 btn-primary w-fit cursor-pointer disabled:bg-gray-300 disabled:cursor-wait"
