.flex.items-center.gap-2.w-full.border.px-3.py-1.rounded{id: dom_id(category, "item")}
  .flex.flex-col.gap-2.items-center.mr-1.text-zinc-400
    = icon "fa-solid", "caret-up", class: "hover:text-primary"
    = icon "fa-solid", "caret-down", class: "-mt-4 hover:text-primary"
  - if category.ancestry_depth < Category::MAX_DEPTH
    = link_to new_admin_category_path(ancestor: category.id), class: "flex text-sm rounded-sm items-center justify-center p-1 bg-gray-50 ring-1 ring-gray-300" do
      = icon("fa-solid", "plus", class: "text-xs")
  = render "item_form", id: dom_id(category, "item_form"), category:, method: :put, position:
