
= form_with model: @product, url: admin_products_path, html: {class: "w-full"} do |f|
  .field
    = f.label :name
    = f.text_field :name, required: true
  .field
    = f.label :slug
    = f.text_field :slug, required: true
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :available_on
    = f.datetime_local_field :available_on
  .field
    = f.label :discontinue_on
    = f.datetime_local_field :discontinue_on
  = f.fields_for :product_variants, ProductVariant.new do |variant|
    .field
      = variant.label "Master price"
      = variant.number_field :sell_price, required: true
    .field
      = variant.label :cost_price
      = variant.number_field :cost_price
    = variant.hidden_field :is_master, value: true
  = f.submit "Submit", class: "btn-primary w-full cursor-pointer disabled:bg-gray-300 disabled:cursor-wait"
