
= form_for(@product, url: path, html: {class: "w-full flex flex-col gap-2.5", method: method}) do |f|
  .field
    = f.label :name
    = f.text_field :name, required: true
  .field
    = f.label :slug
    = f.text_field :slug, required: true
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :available_on
    = f.datetime_local_field :available_on
  .field
    = f.label :discontinue_on
    = f.datetime_local_field :discontinue_on
  = f.fields_for :product_variants, action_name  == "new" ? ProductVariant.new : @product.product_variants.get_master do |master_variant|
    .field
      = master_variant.label "Master price"
      = master_variant.number_field :sell_price, required: true, step: :any, placeholder: "0.00"
    .field
      = master_variant.label :cost_price
      = master_variant.number_field :cost_price, step: :any, placeholder: "0.00"
    .field
      = master_variant.label :sku
      = master_variant.text_field :sku
    - if action_name == "new"
      = master_variant.hidden_field :is_master, value: true
  = f.submit action_name == "new" ? "Create" : "Update", class: "mt-2 btn-primary w-full cursor-pointer disabled:bg-gray-300 disabled:cursor-wait"
