- is_new = @product.new_record?
= form_for(@product, url: path, html: {class: "w-full flex gap-5", method: method}) do |f|
  .flex.flex-col.gap-2.w-full
    - if @product.errors.present?
      = @product.errors.full_messages
    .field
      = f.label :name
      = f.text_field :name, required: true, placeholder: "e.g. Nike Shoe"
    .field
      = f.label :slug, class: is_new ? "text-gray-300" : ""
      = f.text_field :slug, disabled: is_new, required: !is_new, placeholder: "e.g. nike-shoe"
    = f.fields_for :description, is_new ? Description.new : @product.description do |desc|
      .field
        = desc.label :description
        = desc.text_area :description, rows: 12
    %h2.font-medium.text-lg.mt-3 SEO
    .field
      = f.label :meta_title
      = f.text_field :meta_title
    .field
      = f.label :meta_description
      = f.text_area :meta_description
    .field
      = f.label :meta_keywords
      = f.text_field :meta_keywords
  .flex.flex-col.gap-2{class: "w-1/4 md:w-60"}
    .field
      = f.label :available_on
      = f.datetime_local_field :available_on
    .field
      = f.label :discontinue_on
      = f.datetime_local_field :discontinue_on
    .field
      = f.label :currency
      = f.select :currency, currency_list,                                        |
        {selected: is_new ? MoneyRails.default_currency : @product.currency},     |
        {required: true, disabled: true}                                          |
    - if is_new
      = f.hidden_field :currency, value: MoneyRails.default_currency
    = f.fields_for :master_variant, is_new ? Variant.new : f.object.master_variant do |mv|
      .field
        = mv.label "Master price"
        = mv.number_field :price, required: true, step: :any, placeholder: "0.00"
      .field
        = mv.label :cost
        = mv.number_field :cost, step: :any, placeholder: "0.00"
      .field
        = mv.label "Master SKU"
        = mv.text_field :sku
      - if is_new
        = mv.hidden_field :is_master, value: true
    = f.submit is_new ? "Create" : "Update",        |
    class: "mt-2 btn-primary w-full cursor-pointer  |
    disabled:bg-gray-300 disabled:cursor-wait"      |
