.text-sm.font-medium.text-center.text-gray-500.border-b.border-gray-200
  %ul.flex.flex-wrap.-mb-px
    %li.me-2
      = link_to "Product", admin_product_path(@product), class: "inline-block px-4 pb-3 text-primary border-b-2 border-primary rounded-t-lg"
    %li.me-2
      = link_to "Images", "/", class: "inline-block px-4 pb-3 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300"
    %li.me-2
      = link_to "Variants", "/", class: "inline-block px-4 pb-3 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300"
    %li.me-2
      = link_to "Carts", "/", class: "inline-block px-4 pb-3 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300"
    %li.me-2
      = link_to "Orders", "/", class: "inline-block px-4 pb-3 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300"
