.margin-max-screen.h-full.py-8
  .flex.flex-col.gap-6
    .flex.gap-5.justify-between.items-start
      %h2.font-medium.text-lg
        = t("products.list")
      = button_to new_admin_product_path, class: "btn-primary flex gap-2.5 items-center", method: :get do
        = t("products.new")
        = icon("fa-solid", "plus")
    %table
      %thead
        %tr
          %th= t("products.table.thead.name")
          %th= t("products.table.thead.price")
          %th= t("products.table.thead.actions")
      %tbody
        - if @products.present?
          - @products.each do |product|
            %tr{id: dom_id(product)}
              %td.flex.gap-2.items-center
                - if product.thumbnail.attached?
                  = image_tag(product.thumbnail.variant(:small), size: 100, class: "w-8 h-8 object-cover object-center rounded border")
                = product.name
              %td
                = currency_symbol(product.currency)
                = render PriceRangeComponent.new lowest: product.lowest_price, highest: product.highest_price
              %td
                .flex.gap-2.text-gray-400
                  = link_to admin_product_path(product), class: "hover:text-green-400" do
                    = icon("fa-solid", "eye")
                  = button_to admin_product_path(product), class: "hover:text-red-500", method: :delete,  |
                  form: {data: {turbo_confirm: 'Are you sure to delete this product?'}} do                |
                    = icon("fa-solid", "trash")
        - else
          %tr
            %td= t("products.no_list_found")
            %td
            %td
