.margin-max-screen.h-full.py-7
  .flex.flex-col.gap-4
    = link_to new_admin_product_path, class: "btn-primary flex gap-2.5 items-center" do
      New Product
      = icon("fa-solid", "plus")
    %table
      %thead.border-b
        %tr
          %th Name
          %th Price
          %th Year
      %tbody
        - @products.each do |product|
          %tr
            %td
              = product.name
            %td
              - if product.lowest_price == product.highest_price
                = product.highest_price
              - else
                = product.lowest_price
                -
                = product.highest_price
            %td
              1961
