.margin-max-screen.h-full.py-7
  .flex.flex-col.gap-4
    = button_to new_admin_product_path, class: "btn-primary flex gap-2.5 items-center", method: :get do
      New Product
      = icon("fa-solid", "plus")
    %table
      %thead
        %tr
          %th Name
          %th Price
          %th Actions
      %tbody
        - if @products.present?
          - @products.each do |product|
            %tr
              %td
                = product.name
              %td
                = render PriceRangeComponent.new  |
                  lowest: product.lowest_price,   |
                  highest: product.highest_price  |
              %td
                .flex.gap-2.text-gray-400
                  = link_to admin_product_path(product), class: "hover:text-green-500" do
                    = icon("fa-solid", "eye")
                  = button_to admin_product_path(product), class: "hover:text-red-500", method: :delete, form: {data: {turbo_confirm: 'Are you sure to delete this product?'}} do
                    = icon("fa-solid", "trash")
        - else
          %tr
            %td
              No products found
            %td
            %td
