.flex.flex-col.gap-4.w-52.min-w-52.items-start.divide-y
  .flex.flex-col.gap-2.w-full
    - if user_signed_in?
      %span.text-gray-800.text-base
        = current_user.name || current_user.email || current_user.phone_no
      = button_to destroy_user_session_path, method: :delete, class: "transition-colors border px-4 py-1 rounded border-gray-300 hover:border-gray-600 text-gray-700 hover:text-gray-800 bg-white" do 
        = icon("fa-solid", "right-from-bracket")
        Logout
    - else
      = button_to "Sign In", user_session_path, method: :get, class: "border px-6 py-2 rounded"
  %ul.w-full.pt-3
    %li.text-primary
      = link_to account_index_path, class: "py-1 flex gap-3 items-center" do
        = icon("fa-solid", "user", class: "w-4")
        %span Account
    %li.hover:text-primary
      = link_to orders_path, class: "py-1 flex gap-3 items-center" do
        = icon("fa-solid", "list", class: "w-4")
        %span My Orders

