%li{id: dom_id(image, "item"), data: {"sortable-update-url": position_admin_product_image_path(@product, image)}}
  = form_for(image, as: "product_image",                          | 
  url:  admin_product_image_path(@product, image),                |
  html: {method: :put}, data: {controller: 'autosave'}) do |f|    |
    .grid.grid-cols-4.gap-8
      .py-3.flex.items-center
        .w-10.h-full.flex.items-center
          = icon("fa-solid", "grip", class: "handle cursor-move text-zinc-500 text-lg")
        = f.select :record_owner_id, variant_selection, {}, { id: dom_id(image, "record_owner_item"), data: { action: 'autosave#save' }, class: 'input-table bg-gray-50 w-full' }
        = f.hidden_field :record_owner_type, value: "Variant"
      .py-3.flex.items-center
        = image_tag rails_blob_url(image.variant(:small)), size: 100, class: "w-11 h-11 object-center object-cover rounded shadow-lg border"
      .py-3.flex.items-center
      .py-3.flex.items-center.gap-2 
        = icon "fa-solid", "pen-to-square", class: "text-zinc-400 hover:text-red-500"
        %button{type: "button", class: "text-zinc-400 hover:text-red-500", 
        data: {controller: "image", action: "click->image#delete", url: admin_product_image_path(@product, image)}}
          = icon "fa-solid", "trash"
