.margin-max-screen.py-8.flex.flex-col.gap-8
  = render "admin/products/tabs"
  = form_for(@product, as: "product_image", url: upload_admin_product_images_path(@product), 
  html: {data: {controller: "image"}, method: :post}) do |f|
    - @images.each do |image|
      = f.hidden_field :images, multiple: true, value: image.signed_id, id: dom_id(image, "hidden")
    = render "upload_images", form: f
    = f.submit 'Sumbit', class: "btn-primary"
  %div
    %ul.form-table-head.grid.grid-cols-2
      %li.flex.items-center
        = icon "fa-solid", "up-down", class: "ml-0.5 mr-5 text-lg text-zinc-400"
        = t("images.table.thead.image")
      %li
        = t("images.table.thead.actions")
    %ul.form-table-body{data: {controller: "sortable", "sortable-resource-name-value": "product_image", 
    "sortable-handle-value": ".handle" }}
      - if @images.present?
        - @images.each do |image|
          = render "item", image:
      - else
        %li.flex.justify-center.w-full.py-6.text-gray-400 
          = t("images.no_list_found")
