.margin-max-screen.py-8.flex.flex-col.gap-8{data: {controller: "admin--products--images--upload", upload_url: upload_admin_product_images_url(@product)}}
  = render "admin/products/tabs"
  .w-full.flex.flex-col.gap-10
    = render "drag_and_drop"
    = render "uploading"
  %div
    %ul.form-table-head.grid.grid-cols-2
      %li.flex.items-center
        = icon "fa-solid", "up-down", class: "ml-2 mr-6 text-lg text-zinc-400"
        = t("images.table.thead.image")
      %li
        = t("images.table.thead.actions")
    = render "data"
