- unless @product.errors.present?
  = turbo_stream.prepend "notification-container" do
    = render NotificationComponent.new notif_type: "success", message: I18n.t('images.success')
  = turbo_stream.replace "data" do
    = render "data"
- else
  = turbo_stream.prepend "notification-container" do
    = render NotificationComponent.new notif_type: "error", message: I18n.t('images.failed')

= turbo_stream.replace "uploading-container" do
  = render "uploading"
