= render "product_seo", seo: @product.seo

.w-full.margin-max-screen.space-y-10.py-14
  .flex.gap-5
    %div{class: "min-w-[550px] max-w-[550px]"}
    .flex.flex-col{class: "w-full gap-2.5"}
      %h2.font-semibold.text-2xl
        = @product.name
      .flex.gap-2.items-center
        = render StarRatingComponent.new(rating: @product.review_avg_rating)
        %span.text-gray-400
          = "(#{@product.review_count} #{"review".pluralize(@product.review_count)})"
      .text-3xl.font-medium.text-primary
        = render PriceRangeComponent.new lowest: @product.lowest_price, highest: @product.highest_price
      .mt-5.flex.flex-col.gap-4
        - if @product.has_variant
          - @product_options.each_with_index do |po, index|
            .flex.flex-col.gap-2
              %label.font-medium
                = po.display_name
              %ul.flex-wrap.flex.gap-3
                - po.variant_option_values.grouped_name.each do |vov|
                  %li
                    = radio_button_tag dom_id(po, "radio"), vov.id, false, id: dom_id(po, "radio"), class: "peer hidden"
                    %label.rounded-sm.bg-white.drop-shadow-sm.ring-1.ring-gray-400.cursor-pointer.px-2.py-1.peer-disabled:text-gray-300.peer-disabled:ring-gray-300.peer-checked:text-primary.peer-checked:ring-primary{for: dom_id(po, "radio")}
                      = vov.name
