= turbo_stream.replace "public-price" do
  #public-price{data: {"products--public-target": "price"}}
    = render PriceRangeComponent.new lowest: @variant.price, currency: @product.currency

= turbo_stream.replace "quantity-container" do
  = render "quantity", stock_num: @variant.count_on_hand

= turbo_stream.replace "vid" do
  = render "variant_uuid", uuid: @variant.uuid

- if @variant.count_on_hand.zero?
  = turbo_stream.replace "actions" do
    = render "actions", disable_atc: false, disable_bn: true
