= turbo_stream.replace "public-price" do
  #public-price{data: {"product--public-target": "price"}}
    = render PriceRangeComponent.new lowest: @variant.price, highest: @variant.price

= turbo_stream.replace "quantity-container" do
  = render "quantity", stock_num: @variant.count_on_hand

= turbo_stream.replace "vid" do
  = render "vid", vid: @variant.uuid
