%h1 Listing option_types

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @option_types.each do |option_type|
      %tr
        %td= option_type.name
        %td= link_to 'Show', option_type
        %td= link_to 'Edit', edit_option_type_path(option_type)
        %td= link_to 'Destroy', option_type, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Option type', new_option_type_path
