.w-full.border-b.flex.items-center.min-h-20.h-20.bg-white
  .margin-max-screen.w-full.flex.justify-between.items-center
    .flex.gap-3.items-center
      = link_to "FJC Shop", root_path, class: "text-2xl font-extrabold"
      .ml-24
        %ul.flex.gap-8.font-medium
          %li
            = link_to t("home.title"), root_path,
            class: "decoration-2 underline-offset-4 hover:underline"
          %li
            = link_to t("products.title"), products_path, 
            class: "decoration-2 underline-offset-4 hover:underline"
    .flex.gap-5
      = link_to carts_path do
        = icon("fa-solid", "cart-shopping", class: "text-xl")
      = link_to account_index_path do
        = icon("fa-regular", "heart", class: "text-xl")
      = link_to account_index_path do
        = icon("fa-regular", "user", class: "text-xl")
