!!!
%html.h-full{lang:"en"}
  %head
    = render "layouts/head"
    = stylesheet_link_tag "slimselect", "data-turbo-track": "reload"
  %body.flex.h-full
    = render FlashComponent.new
    = render "layouts/sidebar"
    %main.flex-1.overflow-auto.bg-foreground
      = yield
