!!!
%html{lang:"en"}
  %head
    = render "layouts/head"
  %body.flex.flex-col.min-h-screen
    = render FlashComponent.new
    = render "layouts/navbar"
    %main.flex-1.grid
      = yield
    = render "layouts/footer"
