!!!
%html{lang:"en"}
  %head
    = render "layouts/head"
  %body.flex.flex-col
    = render FlashComponent.new
    = render "layouts/navbar"
    %main.flex-1
      = yield
    = render "layouts/footer"
