.flex.flex-col.gap-6.w-80
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "h-fit"}) do |f|
    .grid{class: "gap-2.5"}
      %h2.font-semibold.text-2xl.mb-2 Sign up
      - if resource.errors.present?
        = render ErrorMessageComponent.new(errors: resource.errors.full_messages, label: "")
      .field{"data-controller": "phone"}
        = f.label :phone_no do
          Phone number
        = f.phone_field  :phone_no, required: true, autocomplete: "phone_no",
        data: {"phone-target": "input", action: "change->phone#telHiddenInput" }
        = f.hidden_field :phone_no, "data-phone-target": "hidden", id: "hidden-field"
      .field.relative{data: {controller: "password-visibility"}}
        = f.label :password
        = f.password_field :password, required: true, placeholder: "Enter password", autocomplete: "new-password", data: {"password-visibility-target": "input"}
        %button.absolute.right-3.text-lg.text-gray-500{class: "top-[50%]", type: "button", data: {action: "password-visibility#toggle"}}
          %span{data: { "password-visibility-target": "icon"}}
            = icon("fa-solid", "eye", class: "w-6")
          %span.hidden{data: { "password-visibility-target": "icon"}}
            = icon("fa-solid", "eye-slash", class: "w-6")
      .field.relative{data: {controller: "password-visibility"}}
        = f.label :password_confirmation
        = f.password_field :password_confirmation, required: true, placeholder: "Enter password confirmation", autocomplete: "new-password", data: {"password-visibility-target": "input"}
        %button.absolute.right-3.text-lg.text-gray-500{class: "top-[50%]", type: "button", data: {action: "password-visibility#toggle"}}
          %span{data: { "password-visibility-target": "icon"}}
            = icon("fa-solid", "eye", class: "w-6")
          %span.hidden{data: { "password-visibility-target": "icon"}}
            = icon("fa-solid", "eye-slash", class: "w-6")
      .mt-2
        = f.submit "Sign up", class: "btn-primary w-full cursor-pointer disabled:bg-gray-300 disabled:cursor-wait"
      = render "users/shared/sign_in"
  %fieldset.border-t.border-gray-400
    %legend.mx-auto.px-3.text-sm.uppercase.text-gray-600 or
  = render "users/shared/omniauth", name: "Sign up", origin:
