%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "users/shared/error_messages", resource: resource
  .field{"data-controller": "phone"}
    = f.label "Phone No."
    = f.phone_field  :phone_no, required: true, autocomplete: "phone_no", "data-phone-target": "field"
    = f.hidden_field :phone_no, "data-phone-target": "hidden", id: "input-tel"
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, required: true, autocomplete: "new-password"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit "Sign up"
= render "users/shared/links"
